## dependencies
node_modules

## production
build
dist
  
## misc
package.json.bak
.DS_Store

## config file
.env

## debug
npm-debug.log*
yarn-debug.log*
yarn-error.log* 

### Google Auth (OAuth2.0)
client_secret.apps.googleusercontent.com.json

### Apple Auth
*.p8
