## dependencies
node_modules

## production
build
dist
  
## misc
package.json.bak
.DS_Store

## dotenv config file
.env
.env.DEV
.env.TEST

## debug
npm-debug.log*
yarn-debug.log*
yarn-error.log* 

### Google Auth (OAuth2.0)
client_secret.apps.googleuc.com.*.json

### Apple Auth
AuthKey.*.p8
